/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;

}

/* header section  */

header {
    background: white;
}

.container {
    background: url("../images/Banner\ Image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 80%;

    margin: 10px auto;
}

.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text p {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;

}

.text h1 {
    color: #FFF;
    text-align: center;
    font-size: 62px;
    font-weight: 900;

}

/* deals section  */

.off {
    width: 80%;
    margin: 10px auto;
}

.deals {
    text-align: center;
}

.deals h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

.deals p {
    color: #F00;
    font-size: 14px;
    font-weight: 500;
    margin-top: 24px;
}

.deals h2 {
    color: #070211;

    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.deals img {
    width: 700px;
    height: 500px;
    margin-top: 10px;

}

/* midnight section  */
.midnight {
    background: url("../images/Vectorrr.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 80%;
    margin: 10px auto;

}

.mid {
    display: flex;
    align-items: center;
}

.party {
    color: #FFF;
    font-size: 15px;
    padding: 124px;
}

.party p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 12px;
    margin-top: 5px;
}

/* hotel section  */
.hotel {
    width: 75%;
    margin: 10px auto;
    text-align: center;
    background: rgba(223, 6, 6, 0.1);
    padding: 55px;
    margin-bottom: 45px;


}

.hotel p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.hotel span {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.hotel button {
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 12px;
    color: #FFF;
}

/* offer section  */
.offers {
    width: 80%;
    margin: 10px auto;


}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.best h6 {
    color: #F00;

    font-size: 24px;
}

.best h3 {
    color: #070211;
    font-size: 48px;
}

.best p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}


.best-img {
    border: 20px solid red;
    border-radius: 50%;
    padding: 20px;

}

.news h2 {
    color: #F00;
    font-size: 48px;
}

.news p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

/* gift section 
 */
.gift {
    width: 80%;
    margin: 30px auto;

}

.rect {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.rect img {
    width: 324px;
    height: 350px;
    border-radius: 16px;
}

.rect img:hover {
    transform: scale(1.2);
}

.the {
    color: #F00;
    font-size: 24px;
}

.gift h1 {
    color: #070211;
    font-size: 48px;
}

.cups {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}

/* letter section  */
.letter {
    width: 80%;
    margin: 100px auto;

}

.letter-box {
    text-align: center;
}

.letter-box h1 {
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
}

.letter-box p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin-top: 5px;
}

.letter-box input {
    margin-top: 40px;
    width: 548px;
    height: 32px;
    padding: 5px;

}

.letter-box button {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 10px 28px;
}

/* footer section 
  */
.footer {
    width: 80%;
    margin: 120px auto;
    background: #070211;


}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.big {
    color: #FFF;
    font-size: 14px;
}

.phone p {
    color: #FFF;
}

.hr {
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.hr1 {
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.fb {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.rights {
    display: flex;
    color: #FFF;
    justify-content: space-around;
    padding: 100px;

}